@import '../../../assets/scss/bootstrap/functions';
@import '../../../assets/scss/bootstrap/variables';
@import '../../../assets/scss/bootstrap/mixins/breakpoints';
$font-primary: 'Poppins', Arial, sans-serif;

$white: #fff;
$black: #000000;
// $darken: #3a4348;

$primary: #83b582;
$secondary: #2c2f3a;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition) {
  -moz-transition: all $transition ease;
  -o-transition: all $transition ease;
  -webkit-transition: all $transition ease;
  -ms-transition: all $transition ease;
  transition: all $transition ease;
}

html {
  // overflow-x: hidden;
}
body {
  font-family: $font-primary;
  background: $white;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: lighten($black, 40%);
  &.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
  }
}
a {
  transition: 0.3s all ease;
  color: $primary;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $primary;
    outline: none !important;
  }
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}

.text-primary {
  color: $primary !important;
}

.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 3;
  @include media-breakpoint-down(md) {
    background: $black !important;
    position: relative;
    top: 0;
  }

  .navbar-brand {
    color: $white;
    @include media-breakpoint-down(md) {
      color: $white;
    }
  }

  .navbar-nav {
    @include media-breakpoint-down(md) {
      padding-bottom: 10px;
    }
    > .nav-item {
      > .nav-link {
        font-size: 15px;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        padding-left: 20px;
        padding-right: 20px;
        color: $white;
        font-weight: 400;
        &:hover {
          color: $primary;
        }
        opacity: 1 !important;
        @include media-breakpoint-down(md) {
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 0;
        }
      }

      .dropdown-menu {
        border: none;
        background: $white;
        -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
        -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
        box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
      }

      &.ftco-seperator {
        position: relative;
        margin-left: 20px;
        padding-left: 20px;
        @include media-breakpoint-down(md) {
          padding-left: 0;
          margin-left: 0;
        }
        &:before {
          position: absolute;
          content: '';
          top: 10px;
          bottom: 10px;
          left: 0;
          width: 2px;
          background: rgba($white, 0.05);
          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }
      &.cta {
        > a {
          color: $white;
          border: 1px solid $primary;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          padding-left: 18px;
          padding-right: 18px;
          margin-top: 4px;
          background: $primary;
          @include border-radius(2px);
          span {
            display: inline-block;
            color: $white;
          }
          &:hover {
            background: $primary;
            border: 1px solid $primary;
          }
        }
        &.cta-colored {
          a {
            border: 1px solid $secondary;
            background: $secondary !important;
          }
        }
      }
      &.active {
        > a {
          color: $primary;
        }
      }
    }
  }
  .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
    &:hover,
    &:focus {
      text-decoration: none;
      color: $primary;
      outline: none !important;
    }
  }

  &.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: $white !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    .nav-item {
      > .nav-link {
        @include media-breakpoint-down(md) {
          padding-left: 0 !important;
          padding-right: 0 !important;
          padding-bottom: 0 !important;
        }
      }
      &.active {
        > a {
          color: $primary !important;
        }
      }
      &.cta {
        > a {
          color: $white !important;
          background: $primary;
          border: none !important;
          padding-top: 0.5rem !important;
          padding-bottom: 0.5rem !important;
          padding-left: 20px !important;
          padding-right: 20px !important;
          margin-top: 6px !important;
          @include border-radius(5px);
          span {
            display: inline-block;
            color: $white !important;
          }
        }
        &.cta-colored {
          span {
            border-color: $primary;
          }
        }
      }
    }

    .navbar-nav {
      @include media-breakpoint-down(md) {
        background: none;
        border-radius: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
      }
    }

    .navbar-toggler {
      border: none;
      color: rgba(0, 0, 0, 0.5) !important;
      border-color: rgba(0, 0, 0, 0.5) !important;
      cursor: pointer;
      padding-right: 0;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 0.1em;
    }
    .nav-link {
      padding-top: 0.9rem !important;
      padding-bottom: 0.9rem !important;
      color: $black !important;
      &.active {
        color: $primary !important;
      }
    }
    &.awake {
      margin-top: 0px;
      transition: 0.3s all ease-out;
    }
    &.sleep {
      transition: 0.3s all ease-out;
    }

    .navbar-brand {
      color: $black;
    }
  }
}

.navbar-brand {
  font-weight: 700;
  font-size: 20px;
  font-family: $font-primary;
  line-height: 1;
  text-transform: uppercase;
  span {
    display: block;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.hero-wrap {
  width: 100%;
  height: 100%;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  .overlay {
    position: absolute;
    // width: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0.5;
    background: $black;
  }
  &.hero-wrap-2 {
    height: 600px;
    .overlay {
      opacity: 0.6;
    }
    .slider-text {
      height: 600px;
    }
  }
}

.slider-text {
  h1 {
    font-size: 48px;
    color: $white;
    line-height: 1.2;
    font-weight: 700;
    font-family: $font-primary;
    @include media-breakpoint-down(md) {
      font-size: 40px;
    }
    span {
    }
  }
  .subheading {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-family: $font-primary;
    font-weight: 600;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
    color: $primary;
    strong {
      font-weight: 700;
      a {
        color: $black;
      }
    }
  }
  .btn-custom {
    font-size: 16px;
    font-weight: 500;
    color: $white;
  }
  .breadcrumbs {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    z-index: 99;
    span {
      color: rgba(255, 255, 255, 0.5);
      i {
        color: rgba(255, 255, 255, 0.3);
      }
      a {
        color: rgba(255, 255, 255, 0.7);
        &:hover,
        &:focus {
          color: $primary;
          i {
            color: $primary;
          }
        }
      }
    }
  }
  .bread {
    font-weight: 700 !important;
  }
}

//OWL CAROUSEL
.owl-carousel {
  position: relative;
  .owl-item {
    opacity: 0.4;
    &.active {
      opacity: 1;
    }
  }

  .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    .owl-prev,
    .owl-next {
      position: absolute;
      transform: translateY(-50%);
      margin-top: -10px;
      color: $primary !important;
      @include transition(0.7s);
      span {
        &:before {
          font-size: 30px;
        }
      }
      opacity: 0;
    }
    .owl-prev {
      left: 0;
    }
    .owl-next {
      right: 0;
    }
  }
  .owl-dots {
    text-align: center;
    .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      background: lighten($black, 90%);
      position: relative;
      &:after {
        position: absolute;
        top: -2px;
        left: -2px;
        right: 0;
        bottom: 0;
        width: 14px;
        height: 14px;
        content: '';
        border: 1px solid lighten($black, 90%);
        @include border-radius(50%);
      }
      &.active {
        background: lighten($black, 70%);
      }
    }
  }
  &:hover {
    .owl-nav {
      .owl-prev,
      .owl-next {
        opacity: 1;
      }
      .owl-prev {
        left: -25px;
      }
      .owl-next {
        right: -25px;
      }
    }
  }
}
.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10;
  border: 1px solid red;
  .owl-custom-prev,
  .owl-custom-next {
    padding: 10px;
    font-size: 30px;
    background: #ccc;
    line-height: 0;
    width: 60px;
    text-align: center;
    display: inline-block;
  }
}

.bg-light {
  background: #f8f9fa !important;
}
.bg-secondary {
  background: $secondary !important;
}

.bg-primary {
  background: $primary;
}

//BUTTON
.btn {
  cursor: pointer;
  @include border-radius(3px);
  box-shadow: none !important;
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
  &.btn-primary {
    background: $primary !important;
    border: 1px solid $primary !important;
    color: $white !important;
    &:hover {
      border: 1px solid $primary;
      background: transparent;
      color: $primary;
    }
    &.btn-outline-primary {
      border: 1px solid $primary;
      background: transparent;
      color: $primary;
      &:hover {
        border: 1px solid transparent;
        background: $primary;
        color: $white;
      }
    }
  }
  &.btn-outline-white {
    border-color: rgba($white, 0.8);
    background: none;
    @include border-radius(5px);
    border-width: 1px;
    color: $white;
    &:hover,
    &:focus,
    &:active {
      background: $white;
      border-color: $white;
      color: $primary;
    }
  }
}

.img-video {
  @include media-breakpoint-down(sm) {
    height: 400px;
  }
}
.icon-video {
  width: 80px;
  height: 80px;
  background: $primary;
  animation: pulse 2s infinite;
  @include media-breakpoint-up(md) {
    margin-right: -35px;
  }

  @include border-radius(50%);
  span {
    font-size: 20px;
    color: $white;
  }
}

//ABOUT
.ftco-about {
  .one-half {
    width: 100%;
    padding: 30px 15px;
    @include media-breakpoint-up(md) {
      padding: 5% 13% 5% 5%;
      width: 50%;
    }
    &.img {
      display: block;
      @include media-breakpoint-down(sm) {
        height: 300px;
      }
    }
  }
}

//SERVICES
.services-section {
  padding: 0;
  .container-fluid {
    @include media-breakpoint-up(md) {
      margin-top: -228px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
    }
    @include media-breakpoint-down(md) {
      background: rgba(255, 255, 255, 0.9);
    }
  }
}
.services {
  @include transition(0.3s);
  .icon {
    line-height: 1.3;
    position: relative;
    z-index: 0;
    span {
      font-size: 60px;
      color: $white;
    }
  }
  h3 {
    font-size: 18px;
    font-weight: 600;
    color: $white;
    a {
      color: $black;
    }
    @include media-breakpoint-up(lg) {
      a {
        color: $white;
      }
    }
  }
  .num {
    font-weight: 600;
    color: $primary;
    font-size: 18px;
  }
}

//PRACTICE AREAS
.practice-area {
  display: block;
  // margin-bottom: 30px;
  padding: 25px;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  @include media-breakpoint-down(sm) {
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
  &.border-b {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
  &.no-border-l {
    border-left: none;
  }
  .icon {
    margin: 0 auto;
    @include transition(0.3s);
    @include border-radius(50%);
    span {
      font-size: 50px;
      color: $primary;
      @include transition(0.3s);
    }
  }
  h3 {
    font-size: 20px;
    a {
      color: $black;
    }
  }
  &:hover,
  &:focus {
    .icon {
      background: $white;
      span {
        color: $black;
      }
    }
  }
}

//CASE STUDIES
.case {
  height: 300px;
  margin-bottom: 30px;
  z-index: 0;
  position: relative;
  -webkit-box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.14);
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: $primary;
    opacity: 0;
    z-index: -1;
    @include transition(0.3s);
  }
  .text {
    z-index: 1;
    width: 100;
    opacity: 0;
    @include transition(0.3s);
    h3 {
      a {
        color: $white;
        font-size: 22px;
      }
    }
    span {
      color: rgba(255, 255, 255, 0.9);
    }
  }
  &:hover {
    &:after {
      opacity: 0.9;
    }
    .text {
      opacity: 1;
    }
  }
}

//FREE CONSULTATION
.ftco-consultation {
  background-position: top center !important;
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    content: '';
    opacity: 0.1;
    background: $black;
    @include media-breakpoint-up(lg) {
      width: 50%;
    }
  }
  .half {
    width: 100%;
    h2 {
      font-weight: 600;
    }
  }
}

.consultation {
  .form-control {
    border: none !important;
    height: 52px !important;
    background: $white !important;
    color: $black !important;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: none !important;
    &:focus,
    &:active {
      border-color: $black;
    }
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(0, 0, 0, 0.7) !important;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(0, 0, 0, 0.7) !important;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: rgba(0, 0, 0, 0.7) !important;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: rgba(0, 0, 0, 0.7) !important;
    }
  }
  textarea.form-control {
    height: inherit !important;
  }
}

//SUBSCRIBE
.ftco-section-parallax {
  position: relative;
  .parallax-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding: 4em 0;
  }
  .heading-section-white {
    h2 {
      font-weight: 400 !important;
    }
  }
}

// USEFUL CODE
.aside-stretch {
  background: lighten($primary, 10%);
  &:after {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    content: '';
    width: 360%;
    background: lighten($primary, 10%);
    // background: #333644;
  }
  @include media-breakpoint-down(sm) {
    background: transparent;
    &:after {
      background: transparent;
      display: none;
    }
  }
}

.form-control {
  height: 52px !important;
  background: $white !important;
  color: $black !important;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: none !important;
  &:focus,
  &:active {
    border-color: $black;
  }
}
textarea.form-control {
  height: inherit !important;
}
.ftco-vh-100 {
  height: 100vh;
  @include media-breakpoint-down(lg) {
    height: inherit;
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

.bg-primary {
  background: $primary !important;
}

//ABOUT

.about-author {
  img {
  }
  .desc {
    h3 {
      font-size: 24px;
    }
  }
  .bio {
  }
}

.ftco-section {
  padding: 7em 0;
  position: relative;
  @include media-breakpoint-down(sm) {
    padding: 6em 0;
  }
}

.ftco-bg-dark {
  background: #3c312e;
}

.ftco-no-pt {
  padding-top: 0 !important;
}
.ftco-no-pb {
  padding-bottom: 0 !important;
}

//GALLERY
.ftco-gallery {
  padding: 0;
}
.gallery {
  display: block;
  height: 200px;
  position: relative;
  .icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    z-index: 0;
    opacity: 0;
    position: relative;
    background: $primary;
    @include transition(0.3s);
    span {
      color: $white;
    }
  }
  &:hover,
  &:focus {
    .icon {
      opacity: 1;
    }
  }
}

.ftco-footer {
  font-size: 16px;
  background: #222831;
  padding: 7em 0 4em 0;
  .ftco-footer-widget {
    h2 {
      font-weight: normal;
      color: $white;
      margin-bottom: 40px;
      font-size: 20px;
      font-weight: 400;
    }
    ul {
      li {
        a {
          // color: rgba(255,255,255,.4);
          color: $primary;
          span {
            color: $primary;
          }
        }
      }
    }
    .btn-primary {
      background: $white !important;
      border: 2px solid $white !important;
      &:hover {
        background: $white;
        border: 2px solid $white !important;
      }
    }
  }
  p {
    color: rgba($white, 0.7);
  }
  a {
    color: rgba($white, 0.7);
    &:hover {
      color: $white;
    }
  }
  .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: $black;
    position: relative;
  }
  .opening-hours {
    h4 {
      color: $white;
      color: rgba(255, 255, 255, 0.3);
      font-size: 18px;
      font-style: italic;
    }
    p {
      span {
        color: rgba(255, 255, 255, 0.9);
      }
    }
  }
}

.ftco-footer-social {
  li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
    a {
      height: 50px;
      width: 50px;
      display: block;
      float: left;
      background: rgba($white, 0.05);
      border-radius: 50%;
      position: relative;
      span {
        position: absolute;
        font-size: 26px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        color: $white;
      }
    }
  }
}
.footer-small-nav {
  > li {
    display: inline-block;
    a {
      margin: 0 10px 10px 0;
      &:hover,
      &:focus {
        color: $primary;
      }
    }
  }
}
.media {
  .ftco-icon {
    width: 100px;
    span {
      color: $primary;
    }
  }
}
.ftco-media {
  background: $white;
  border-radius: 0px;
  .heading {
    font-weight: normal;
  }
  &.ftco-media-shadow {
    padding: 40px;
    background: $white;
    box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
    transition: 0.2s all ease;
    position: relative;
    top: 0;
    &:hover,
    &:focus {
      top: -3px;
      box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3);
    }
  }
  .icon {
    font-size: 50px;
    display: block;
    color: $primary;
  }
  &.text-center {
    .ftco-icon {
      margin: 0 auto;
    }
  }
}
.ftco-overflow-hidden {
  overflow: hidden;
}

.padding-top-bottom {
  padding-top: 120px;
  padding-bottom: 120px;
}

// Map

#map {
  // height: 400px;
  width: 100%;
  @include media-breakpoint-down(md) {
    height: 300px;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($primary, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba($primary, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba($primary, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($primary, 0.4);
    box-shadow: 0 0 0 0 rgba($primary, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba($primary, 0);
    box-shadow: 0 0 0 30px rgba($primary, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba($primary, 0);
    box-shadow: 0 0 0 0 rgba($primary, 0);
  }
}

.heading-section {
  .subheading {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    color: $primary;
  }
  h2 {
    font-size: 40px;
    font-weight: 700;
    @include media-breakpoint-down(sm) {
      font-size: 28px;
    }
  }
  &.heading-section-white {
    .subheading {
      color: rgba(255, 255, 255, 0.5);
    }
    h2 {
      font-size: 40px;
      color: $white;
    }
    p {
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

//COVER BG
.img,
.blog-img,
.user-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

//TESTIMONY
.testimony-section {
  position: relative;
  .owl-carousel {
    margin: 0;
  }
  .owl-carousel .owl-stage-outer {
    padding: 1em 0 2em 0;
    position: relative;
  }
  .owl-nav {
    position: absolute;
    top: 100%;
    width: 100%;
    .owl-prev,
    .owl-next {
      position: absolute;
      transform: translateY(-50%);
      margin-top: -10px;
      outline: none !important;
      @include transition(0.3s);
      span {
        &:before {
          font-size: 30px;
          color: rgba(0, 0, 0, 0.5);
          @include transition(0.3s);
        }
      }
      &:hover,
      &:focus {
        span {
          &:before {
            color: $white;
          }
        }
      }
      opacity: 0;
    }
    .owl-prev {
      left: 50%;
      margin-left: -80px;
    }
    .owl-next {
      right: 50%;
      margin-right: -80px;
    }
  }
  &:hover {
    .owl-nav {
      .owl-prev,
      .owl-next {
        opacity: 1;
      }
      .owl-prev {
        left: 50%;
        margin-left: -80px;
      }
      .owl-next {
        right: 50%;
        margin-right: -80px;
      }
    }
  }
  .owl-dots {
    text-align: center;
    .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.1);
      &.active {
        background: $primary;
      }
    }
  }
}
.testimony-wrap {
  display: block;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  padding: 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.14);
  .user-img {
    width: 80px;
    height: 80px;
    position: relative;
    // margin: 0 auto;
    @include border-radius(50%);
    // margin-top: -75px;
  }
  .name {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
    color: $black;
  }
  .position {
    font-size: 16px;
    color: lighten($black, 80%);
  }
}

.about-image {
  @include media-breakpoint-down(sm) {
    height: 400px;
    margin-bottom: 30px;
  }
}

// magnific pop up

.image-popup {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

#section-counter {
  position: relative;
  z-index: 0;
  width: 100%;
  // border: 1px solid red;
  display: block;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: -1;
    opacity: 0;
    background: $black;
  }
  .container-fluid {
    overflow: hidden;
    padding: 0 !important;
  }
}
.ftco-counter {
  // padding: 6em 0;
  @include media-breakpoint-down(lg) {
    background-position: center center !important;
  }
  .img {
    display: block;
    width: 100%;
    @include media-breakpoint-down(sm) {
      height: 400px;
      background-position: top center !important;
    }
  }
  .block-18 {
  }
  .text {
    strong.number {
      font-weight: 600;
      font-size: 28px;
      color: $black;
    }
    span {
      display: block;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 10px;
    }
  }
  .icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    // background: lighten($primary,20%);
    @include border-radius(50%);
    span {
      color: $black;
      font-size: 48px;
    }
  }
  .counter-wrap {
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }
}

//blocks
.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 270px;
}
.blog-entry {
  overflow: hidden;
  @include media-breakpoint-up(md) {
    margin-bottom: 30px;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }
  .text {
    position: relative;
    background: $white;
    width: 100%;
    margin: 0 auto;
    .topper {
      margin-top: -74px;
      position: absolute;
      top: 0;
      left: 0;
      background: $primary;
      &:after {
        position: absolute;
        bottom: -10px;
        left: 20px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: $primary transparent transparent transparent;
      }
    }
    .heading {
      font-size: 18px;
      margin-bottom: 16px;
      font-weight: 400;
      a {
        color: $black;
        &:hover,
        &:focus,
        &:active {
          color: $primary;
        }
      }
    }
  }
  .meta {
    > div {
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 0;
      font-size: 14px;
      a {
        color: lighten($black, 50%);
        font-size: 15px;
        &:hover {
          color: lighten($black, 40%);
        }
      }
    }
  }
  .one {
    width: 80px;
  }
  .two {
    width: calc(100% - 80px);
  }
  span.day {
    font-size: 58px;
    font-weight: 300;
    color: $white;
    line-height: 1;
  }
  span.yr,
  span.mos {
    display: block;
    color: rgba(255, 255, 255, 0.7);
  }
}

.block-23 {
  ul {
    padding: 0;
    li {
      &,
      > a {
        display: table;
        line-height: 1.5;
        margin-bottom: 15px;
      }
      span {
        color: rgba($white, 0.7);
      }
      .icon,
      .text {
        display: table-cell;
        vertical-align: top;
      }
      .icon {
        width: 40px;
        font-size: 18px;
        padding-top: 2px;
        color: rgba($white, 1);
      }
    }
  }
}

.block-27 {
  ul {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin-bottom: 4px;
      font-weight: 400;
      a,
      span {
        color: lighten($black, 50%);
        text-align: center;
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        border: 1px solid lighten($black, 80%);
      }
      &.active {
        a,
        span {
          background: $primary;
          color: $white;
          border: 1px solid transparent;
        }
      }
    }
  }
}

.contact-section {
  .contact-info {
    p {
      a {
        color: lighten($black, 10%);
      }
      span {
      }
    }
  }
  .contact-form {
    width: 100%;
  }
}
.block-9 {
  .form-control {
    outline: none !important;
    box-shadow: none !important;
    font-size: 15px;
  }
  #map {
  }
}

//### .block-21
.block-21 {
  .blog-img {
    display: block;
    height: 80px;
    width: 80px;
  }
  .text {
    width: calc(100% - 100px);
    .heading {
      font-size: 18px;
      font-weight: 300;
      a {
        color: $black;
        &:hover,
        &:active,
        &:focus {
          color: $primary;
        }
      }
    }
    .meta {
      > div {
        display: inline-block;
        font-size: 12px;
        margin-right: 5px;
        a {
          color: lighten($black, 50%);
        }
      }
    }
  }
}

/* Blog*/
.post-info {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: $white;
  letter-spacing: 0.1em;
  > div {
    display: inline-block;

    .seperator {
      display: inline-block;
      margin: 0 10px;
      opacity: 0.5;
    }
  }
}

.tagcloud {
  a {
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 7px;
    margin-right: 4px;
    border-radius: 4px;
    color: $black;
    border: 1px solid #ccc;
    font-size: 11px;
    &:hover {
      border: 1px solid #000;
    }
  }
}

.comment-form-wrap {
  clear: both;
}

.comment-list {
  padding: 0;
  margin: 0;
  .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%;
  }
  li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none;
    .vcard {
      width: 80px;
      float: left;
      img {
        width: 50px;
        border-radius: 50%;
      }
    }
    .comment-body {
      float: right;
      width: calc(100% - 80px);
      h3 {
        font-size: 20px;
      }
      .meta {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 0.1em;
        color: #ccc;
      }
      .reply {
        padding: 5px 10px;
        background: lighten($black, 90%);
        color: $black;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 0.1em;
        font-weight: 400;
        border-radius: 4px;
        &:hover {
          color: $white;
          background: lighten($black, 0%);
        }
      }
    }
  }
}

.search-form {
  background: lighten($black, 95%);
  padding: 10px;

  .form-group {
    position: relative;
    input {
      padding-right: 50px;
      font-size: 14px;
    }
  }
  .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}

.subscribe-form {
  width: 100%;
  .form-group {
    position: relative;
    margin-bottom: 0;
    @include border-radius(0);
    input {
      background: white !important;
      border: 1px solid transparent;
      color: rgba(0, 0, 0, 0.7) !important;
      font-size: 16px;
      border-radius: 5px 0px 0px 5px;
      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(0, 0, 0, 0.7) !important;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(0, 0, 0, 0.7) !important;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(0, 0, 0, 0.7) !important;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(0, 0, 0, 0.7) !important;
      }
    }
    .submit {
      color: $white !important;
      background: darken($primary, 10%) !important;
      border-radius: 0px 5px 5px 0px;
      font-size: 16px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.8);
  }
}

//SIDEBAR SEARCH
.sidebar-wrap {
  margin-bottom: 60px;
  .heading {
    font-size: 18px;
    text-transform: uppercase;
  }
  .fields {
    width: 100%;
    position: relative;
    .form-control {
      box-shadow: none !important;
      border: transparent;
      background: $white !important;
      color: lighten($black, 30%) !important;
      border: 1px solid lighten($black, 90%);
      font-size: 14px;
      width: 100%;
      height: 52px !important;
      padding: 10px 20px;
      @include border-radius(0);
      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: lighten($black, 30%);
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: lighten($black, 30%);
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: lighten($black, 30%);
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: lighten($black, 30%);
      }
    }
    .icon {
      position: absolute;
      top: 50%;
      right: 30px;
      font-size: 14px;
      transform: translateY(-50%);
      color: rgba($black, 0.7);
      @include media-breakpoint-down(sm) {
        right: 10px;
      }
    }
    .textfield-search,
    .select-wrap {
    }
    .textfield-search {
      input {
      }
    }
    .select-wrap {
      position: relative;
      select {
        appearance: none;
      }
    }
  }
  .form-group {
    .btn {
      width: 100%;
      display: block !important;
      @include border-radius(2px);
    }
  }
}
// sidebar

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;

  float: left;

  background: $white;
  *:last-child {
    margin-bottom: 0;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
  }
}

.categories,
.sidelink {
  li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray('300');
    list-style: none;
    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;
    }
    a {
      display: block;
      color: lighten($black, 10%);
      span {
        position: absolute;
        right: 0;
        top: 0;
        color: #ccc;
      }
      &:hover,
      &:focus {
        outline: none;
        color: $primary;
      }
    }
    &.active {
      a {
        color: $primary;
        span {
          color: $primary;
        }
      }
    }
  }
}

//### .block-2
.block-2 {
  margin-bottom: 0;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;

  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;

  &:hover .back,
  &.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  &:hover .front,
  &.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  &,
  .front,
  .back {
    width: 100%;
    height: 330px;
  }
  .flipper {
    -webkit-transition: 0.3s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.3s;

    -moz-transition: 0.3s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
  }

  .front,
  .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    border-radius: 0px;

    -webkit-transition: 0.3s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);

    -moz-transition: 0.3s;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateY(0deg);

    -o-transition: 0.3s;
    -o-transform-style: preserve-3d;
    -o-transform: rotateY(0deg);

    -ms-transition: 0.3s;
    -ms-transform-style: preserve-3d;
    -ms-transform: rotateY(0deg);

    transition: 0.3s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);

    position: absolute;
    top: 0;
    left: 0;
  }

  .front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    background: lightgreen;
    z-index: 2;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.7;
      background: rgba(255, 255, 255, 0);
      background: -moz-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.15) 38%,
        rgba(0, 0, 0, 0.4) 100%
      );
      background: -webkit-gradient(
        left top,
        left bottom,
        color-stop(0%, rgba(255, 255, 255, 0)),
        color-stop(38%, rgba(255, 255, 255, 0.15)),
        color-stop(100%, rgba(0, 0, 0, 0.4))
      );
      background: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.15) 38%,
        rgba(0, 0, 0, 0.4) 100%
      );
      background: -o-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.15) 38%,
        rgba(0, 0, 0, 0.4) 100%
      );
      background: -ms-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.15) 38%,
        rgba(0, 0, 0, 0.4) 100%
      );
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.15) 38%,
        rgba(0, 0, 0, 0.4) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
    }
    .box {
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      bottom: 20px;
      h2,
      p {
        color: $white;
        margin: 0;
        padding: 0;
        line-height: 1.5;
      }
      h2 {
        font-size: 20px;
        font-weight: 600;
      }
      p {
        font-size: 12px;
      }
    }
  }

  .back {
    // background: lightblue;
    // padding-top: 40px;
    background: $primary;
    box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.4);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }

  .back p {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 20px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
  }
  .author {
    bottom: 0;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    .image {
      width: 40px;
      img {
        border-radius: 50%;
        max-width: 100%;
      }
    }
    .name {
      color: $white;
      font-weight: 600;
    }
    .position {
      display: block;
      color: rgba(255, 255, 255, 0.9);
      font-size: 13px;
      font-family: $font-primary;
      font-weight: normal;
    }
  }

  @include media-breakpoint-down(md) {
    .back {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    .front {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
  }
}

#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  z-index: 1000;
}

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  box-shadow: none;
}

#ftco-loader.show {
  transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#ftco-loader .circular {
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  transform: rotate(0deg);
}

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}
