<nav
  class="
    navbar
    px-md-0
    navbar-expand-lg navbar-dark
    ftco_navbar
    bg-dark
    ftco-navbar-light
  "
  id="ftco-navbar"
>
  <div class="container-fluid px-md-5">
    <a class="navbar-brand" href="/home">Judge <span>A Law Firm</span></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a href="/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="about.html" class="nav-link">About Us</a>
        </li>
        <li class="nav-item">
          <a href="practice-areas.html" class="nav-link">Practice Areas</a>
        </li>
        <li class="nav-item">
          <a href="case.html" class="nav-link">Case Studies</a>
        </li>
        <li class="nav-item">
          <a href="attorneys.html" class="nav-link">Attorneys</a>
        </li>
        <li class="nav-item">
          <a href="blog.html" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
          <a href="contact.html" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->

<div
  class="hero-wrap js-fullheight"
  style="background-image: url('./assets/images/law_img/bg_1.jpg')"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container-fluid px-md-5">
    <div
      class="
        row
        no-gutters
        slider-text
        js-fullheight
        align-items-center
        justify-content-start
      "
      data-scrollax-parent="true"
    >
      <div class="col-md-6 ftco-animate">
        <h2 class="subheading">Product Liabilty &amp; Personal Injury</h2>
        <h1 class="mb-4">The Greatest &amp; Strongest Firm You Can Trust</h1>
        <p>
          <a href="#" class="btn-custom mr-md-4"
            >Get Legal Advice <span class="ion-ios-arrow-forward"></span
          ></a>
          <a href="#" class="btn-custom"
            >Request A Quote <span class="ion-ios-arrow-forward"></span
          ></a>
        </p>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-no-pb ftco-no-pt services-section">
  <div class="container-fluid px-md-5 py-3">
    <div class="row py-4 d-flex">
      <div class="col-md-3 services align-self-stretch ftco-animate">
        <div class="media-body">
          <span class="num">01</span>
          <h3 class="heading mb-3"><a href="#">Get Your Legal Advice</a></h3>
          <p>Far far away, behind the word mountains, far from the countries</p>
        </div>
      </div>
      <div class="col-md-3 services align-self-stretch ftco-animate">
        <div class="media-body">
          <span class="num">02</span>
          <h3 class="heading mb-3">
            <a href="#">Work with Expert Lawyers</a>
          </h3>
          <p>Far far away, behind the word mountains, far from the countries</p>
        </div>
      </div>
      <div class="col-md-3 services align-self-stretch ftco-animate">
        <div class="media-body">
          <span class="num">03</span>
          <h3 class="heading mb-3">
            <a href="#">Have Great Discounted Rates</a>
          </h3>
          <p>Far far away, behind the word mountains, far from the countries</p>
        </div>
      </div>
      <div class="col-md-3 services align-self-stretch ftco-animate">
        <div class="media-body">
          <span class="num">04</span>
          <h3 class="heading mb-3">
            <a href="#">Review Your Case Documents</a>
          </h3>
          <p>Far far away, behind the word mountains, far from the countries</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 d-flex">
        <div
          class="
            img img-video
            d-flex
            align-self-stretch align-items-center
            justify-content-center justify-content-md-end
          "
          style="background-image: url('./assets/images/law_img/about.jpg')"
        >
          <a
            href="https://vimeo.com/45830194"
            class="
              icon-video
              popup-vimeo
              d-flex
              justify-content-center
              align-items-center
            "
          >
            <span class="icon-play"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 px-5 py-5">
        <div class="row justify-content-start pt-3 pb-3">
          <div class="col-md-12 heading-section ftco-animate">
            <span class="subheading">Welcome to Judge</span>
            <h2 class="mb-4">We Always Fight For Your Justice to Win</h2>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia
            </p>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia. It is a paradisematic country, in
              which roasted parts of sentences fly into your mouth.
            </p>
            <p>
              Even the all-powerful Pointing has no control about the blind
              texts it is an almost unorthographic life One day however a small
              line of blind text by the name of Lorem Ipsum decided to leave for
              the far World of Grammar.
            </p>
            <div class="years d-flex">
              <h4 class="number mr-2" data-number="40">0</h4>
              <h4>Years of Experienced</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row no-gutters justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Practice Areas</span>
        <h2 class="mb-4">Practice Areas</h2>
      </div>
    </div>
    <div class="row no-gutters d-flex justify-content-center">
      <div class="col-md-3 text-center">
        <div class="practice-area border-b no-border-l ftco-animate">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-family"></span>
          </div>
          <h3><a href="#">Family Law</a></h3>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia.
          </p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="practice-area border-b ftco-animate">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-auction"></span>
          </div>
          <h3><a href="#">Business Law</a></h3>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia.
          </p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="practice-area border-b ftco-animate">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-shield"></span>
          </div>
          <h3><a href="#">Insurance Law</a></h3>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia.
          </p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="practice-area border-b ftco-animate">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-handcuffs"></span>
          </div>
          <h3><a href="#">Criminal Law</a></h3>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia.
          </p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="practice-area no-border-l ftco-animate">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-house"></span>
          </div>
          <h3><a href="#">Property Law</a></h3>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia.
          </p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="practice-area ftco-animate">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-employee"></span>
          </div>
          <h3><a href="#">Employment Law</a></h3>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia.
          </p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="practice-area ftco-animate">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-fire"></span>
          </div>
          <h3><a href="#">Fire Accident</a></h3>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia.
          </p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="practice-area ftco-animate">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-money"></span>
          </div>
          <h3><a href="#">Financial Law</a></h3>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Our Attorney</span>
        <h2 class="mb-4">Our Legal Attorneys</h2>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-3 col-sm-6">
        <div class="block-2 ftco-animate">
          <div class="flipper">
            <div
              class="front"
              style="
                background-image: url('./assets/images/law_img/person_1.jpg');
              "
            >
              <div class="box">
                <h2>Richard Anderson</h2>
                <p>Civil Lawyer</p>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <blockquote>
                <p>
                  &ldquo;Even the all-powerful Pointing has no control about the
                  blind texts it is an almost unorthographic life One day
                  however a small line of blind text &rdquo;
                </p>
              </blockquote>
              <div class="author d-flex">
                <div class="image align-self-center">
                  <img src="assets/images/law_img/person_1.jpg" alt="" />
                </div>
                <div class="name align-self-center ml-3">
                  Richard Anderson <span class="position">Civil Lawyer</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="block-2 ftco-animate">
          <div class="flipper">
            <div
              class="front"
              style="
                background-image: url('./assets/images/law_img/person_2.jpg');
              "
            >
              <div class="box">
                <h2>Jefford Maxillin</h2>
                <p>Business Lawyer</p>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <blockquote>
                <p>
                  &ldquo;Even the all-powerful Pointing has no control about the
                  blind texts it is an almost unorthographic life One day
                  however a small line of blind text &rdquo;
                </p>
              </blockquote>
              <div class="author d-flex">
                <div class="image align-self-center">
                  <img src="assets/images/law_img/person_2.jpg" alt="" />
                </div>
                <div class="name align-self-center ml-3">
                  Jefford Maxillin<span class="position">Business Lawyer</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="block-2 ftco-animate">
          <div class="flipper">
            <div
              class="front"
              style="
                background-image: url('./assets/images/law_img/person_3.jpg');
              "
            >
              <div class="box">
                <h2>Carlos Obing</h2>
                <p>Criminal Defense</p>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <blockquote>
                <p>
                  &ldquo;Even the all-powerful Pointing has no control about the
                  blind texts it is an almost unorthographic life One day
                  however a small line of blind text &rdquo;
                </p>
              </blockquote>
              <div class="author d-flex">
                <div class="image align-self-center">
                  <img src="assets/images/law_img/person_3.jpg" alt="" />
                </div>
                <div class="name align-self-center ml-3">
                  Carlos Obing <span class="position">Criminal Defense</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="block-2 ftco-animate">
          <div class="flipper">
            <div
              class="front"
              style="
                background-image: url('./assets/images/law_img/person_4.jpg');
              "
            >
              <div class="box">
                <h2>Nathan Smith</h2>
                <p>Insurance Lawyer</p>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <blockquote>
                <p>
                  &ldquo;Even the all-powerful Pointing has no control about the
                  blind texts it is an almost unorthographic life One day
                  however a small line of blind text &rdquo;
                </p>
              </blockquote>
              <div class="author d-flex">
                <div class="image align-self-center">
                  <img src="assets/images/law_img/person_4.jpg" alt="" />
                </div>
                <div class="name align-self-center ml-3">
                  Nathan Smith <span class="position">Insurance Lawyer</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-consultation ftco-section img"
  style="background-image: url('./assets/images/law_img/bg_2.jpg')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row d-md-flex justify-content-end">
      <div class="col-md-6 half p-3 p-md-5 ftco-animate heading-section">
        <span class="subheading">Booking an Appointment</span>
        <h2 class="mb-4">Free Consultation</h2>
        <form action="#" class="consultation">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Name" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Email" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Subject" />
          </div>
          <div class="form-group">
            <textarea
              name=""
              id=""
              cols="30"
              rows="7"
              class="form-control"
              placeholder="Message"
            ></textarea>
          </div>
          <div class="form-group">
            <input
              type="submit"
              value="Send message"
              class="btn btn-primary py-3 px-4"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-10 text-center heading-section ftco-animate">
        <span class="subheading">Explore Case Studies</span>
        <h2 class="mb-4">1000+ Completed Cases Successfully</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ftco-animate">
        <div
          class="case img d-flex align-items-center justify-content-center"
          style="background-image: url('./assets/images/law_img/case-1.jpg')"
        >
          <div class="text text-center">
            <h3><a href="#">Legal Seperation</a></h3>
            <span>Corporate</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div
          class="case img d-flex align-items-center justify-content-center"
          style="background-image: url('./assets/images/law_img/case-2.jpg')"
        >
          <div class="text text-center">
            <h3><a href="#">Legal Seperation</a></h3>
            <span>Corporate</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div
          class="case img d-flex align-items-center justify-content-center"
          style="background-image: url('./assets/images/law_img/case-3.jpg')"
        >
          <div class="text text-center">
            <h3><a href="#">Legal Seperation</a></h3>
            <span>Corporate</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div
          class="case img d-flex align-items-center justify-content-center"
          style="background-image: url('./assets/images/law_img/case-4.jpg')"
        >
          <div class="text text-center">
            <h3><a href="#">Legal Seperation</a></h3>
            <span>Corporate</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div
          class="case img d-flex align-items-center justify-content-center"
          style="background-image: url('./assets/images/law_img/case-5.jpg')"
        >
          <div class="text text-center">
            <h3><a href="#">Legal Seperation</a></h3>
            <span>Corporate</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div
          class="case img d-flex align-items-center justify-content-center"
          style="background-image: url('./assets/images/law_img/case-6.jpg')"
        >
          <div class="text text-center">
            <h3><a href="#">Legal Seperation</a></h3>
            <span>Corporate</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section ftco-no-pt">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Testimonial</span>
        <h2 class="mb-4">Happy Clients</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <p class="mb-4">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <div class="d-flex align-items-center">
                  <div
                    class="user-img"
                    style="
                      background-image: url('./assets/images/law_img/person_1.jpg');
                    "
                  ></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <p class="mb-4">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <div class="d-flex align-items-center">
                  <div
                    class="user-img"
                    style="
                      background-image: url('./assets/images/law_img/person_2.jpg');
                    "
                  ></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <p class="mb-4">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <div class="d-flex align-items-center">
                  <div
                    class="user-img"
                    style="
                      background-image: url('./assets/images/law_img/person_3.jpg');
                    "
                  ></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <p class="mb-4">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <div class="d-flex align-items-center">
                  <div
                    class="user-img"
                    style="
                      background-image: url('./assets/images/law_img/person_1.jpg');
                    "
                  ></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <p class="mb-4">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <div class="d-flex align-items-center">
                  <div
                    class="user-img"
                    style="
                      background-image: url('./assets/images/law_img/person_2.jpg');
                    "
                  ></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">Our Blog</span>
        <h2>Recent Blog</h2>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry justify-content-end">
          <a
            href="blog-single.html"
            class="block-20"
            style="background-image: url('./assets/images/law_img/image_1.jpg')"
          >
          </a>
          <div class="text p-4 float-right d-block">
            <div class="topper d-flex align-items-center">
              <div class="one py-2 pl-3 pr-1 align-self-stretch">
                <span class="day">15</span>
              </div>
              <div class="two pl-0 pr-3 py-2 align-self-stretch">
                <span class="yr">2019</span>
                <span class="mos">August</span>
              </div>
            </div>
            <h3 class="heading mt-2">
              <a href="#">All you want to know about industrial laws</a>
            </h3>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry justify-content-end">
          <a
            href="blog-single.html"
            class="block-20"
            style="background-image: url('./assets/images/law_img/image_2.jpg')"
          >
          </a>
          <div class="text p-4 float-right d-block">
            <div class="topper d-flex align-items-center">
              <div class="one py-2 pl-3 pr-1 align-self-stretch">
                <span class="day">12</span>
              </div>
              <div class="two pl-0 pr-3 py-2 align-self-stretch">
                <span class="yr">2019</span>
                <span class="mos">August</span>
              </div>
            </div>
            <h3 class="heading mt-2">
              <a href="#">All you want to know about industrial laws</a>
            </h3>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry">
          <a
            href="blog-single.html"
            class="block-20"
            style="background-image: url('./assets/images/law_img/image_3.jpg')"
          >
          </a>
          <div class="text p-4 float-right d-block">
            <div class="topper d-flex align-items-center">
              <div class="one py-2 pl-3 pr-1 align-self-stretch">
                <span class="day">10</span>
              </div>
              <div class="two pl-0 pr-3 py-2 align-self-stretch">
                <span class="yr">2019</span>
                <span class="mos">August</span>
              </div>
            </div>
            <h3 class="heading mt-2">
              <a href="#">All you want to know about industrial laws</a>
            </h3>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-gallery">
  <div class="container-wrap">
    <div class="row no-gutters">
      <div class="col-md-2 ftco-animate">
        <a
          href="assets/images/law_img/image_1.jpg"
          class="gallery image-popup img d-flex align-items-center"
          style="background-image: url('./assets/images/law_img/image_1.jpg')"
        >
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center"
          >
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-2 ftco-animate">
        <a
          href="images/image_2.jpg"
          class="gallery image-popup img d-flex align-items-center"
          style="background-image: url('./assets/images/law_img/image_2.jpg')"
        >
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center"
          >
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-2 ftco-animate">
        <a
          href="assets/images/law_img/image_3.jpg"
          class="gallery image-popup img d-flex align-items-center"
          style="background-image: url('./assets/images/law_img/image_3.jpg')"
        >
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center"
          >
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-2 ftco-animate">
        <a
          href="images/image_4.jpg"
          class="gallery image-popup img d-flex align-items-center"
          style="background-image: url('./assets/images/law_img/image_4.jpg')"
        >
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center"
          >
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-2 ftco-animate">
        <a
          href="assets/images/law_img/image_4.jpg"
          class="gallery image-popup img d-flex align-items-center"
          style="background-image: url('./assets/images/law_img/image_5.jpg')"
        >
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center"
          >
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-2 ftco-animate">
        <a
          href="assets/images/law_img/image_4.jpg"
          class="gallery image-popup img d-flex align-items-center"
          style="background-image: url('./assets/images/law_img/image_6.jpg')"
        >
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center"
          >
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb bg-primary">
  <div class="container py-4">
    <div class="row d-flex justify-content-center">
      <div class="col-md-7 ftco-animate d-flex align-items-center">
        <h2 class="mb-0" style="color: white; font-size: 28px">
          Subcribe to our Newsletter
        </h2>
      </div>
      <div class="col-md-5 d-flex align-items-center">
        <form action="#" class="subscribe-form">
          <div class="form-group d-flex">
            <input
              type="text"
              class="form-control"
              placeholder="Enter email address"
            />
            <input type="submit" value="Subscribe" class="submit px-3" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">About Judge</h2>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts.
          </p>
          <ul
            class="
              ftco-footer-social
              list-unstyled
              float-md-left float-lft
              mt-5
            "
          >
            <li class="ftco-animate">
              <a href="#"><span class="icon-twitter"></span></a>
            </li>
            <li class="ftco-animate">
              <a href="#"><span class="icon-facebook"></span></a>
            </li>
            <li class="ftco-animate">
              <a href="#"><span class="icon-instagram"></span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Practice Areas</h2>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="py-1 d-block"
                ><span class="ion-ios-arrow-forward mr-3"></span>Family Law</a
              >
            </li>
            <li>
              <a href="#" class="py-1 d-block"
                ><span class="ion-ios-arrow-forward mr-3"></span>Business Law</a
              >
            </li>
            <li>
              <a href="#" class="py-1 d-block"
                ><span class="ion-ios-arrow-forward mr-3"></span>Insurance
                Law</a
              >
            </li>
            <li>
              <a href="#" class="py-1 d-block"
                ><span class="ion-ios-arrow-forward mr-3"></span>Criminal Law</a
              >
            </li>
            <li>
              <a href="#" class="py-1 d-block"
                ><span class="ion-ios-arrow-forward mr-3"></span>Drug
                Offenses</a
              >
            </li>
            <li>
              <a href="#" class="py-1 d-block"
                ><span class="ion-ios-arrow-forward mr-3"></span>Fire
                Accident</a
              >
            </li>
            <li>
              <a href="#" class="py-1 d-block"
                ><span class="ion-ios-arrow-forward mr-3"></span>Employment
                Law</a
              >
            </li>
            <li>
              <a href="#" class="py-1 d-block"
                ><span class="ion-ios-arrow-forward mr-3"></span>Property Law</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Business Hours</h2>
          <div class="opening-hours">
            <h4>Opening Days:</h4>
            <p class="pl-3">
              <span>Monday – Friday : 9am to 20 pm</span>
              <span>Saturday : 9am to 17 pm</span>
            </p>
            <h4>Vacations:</h4>
            <p class="pl-3">
              <span>All Sunday Days</span>
              <span>All Official Holidays</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li>
                <span class="icon icon-map-marker"></span
                ><span class="text"
                  >203 Fake St. Mountain View, San Francisco, California,
                  USA</span
                >
              </li>
              <li>
                <a href="#"
                  ><span class="icon icon-phone"></span
                  ><span class="text">+2 392 3929 210</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><span class="icon icon-envelope"></span
                  ><span class="text">info@yourdomain.com</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved | This template is made with
          <i class="icon-heart color-danger" aria-hidden="true"></i> by
          <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script> -->

<!-- </body> -->
<!-- </html> -->
